<link href="../../../Content/Cart.css" rel="stylesheet" />

<div class="row" ng-controller="cartCtrl" ng-init="getProducts()" style="margin-top:100px">
    <div class="col-lg-8  col-lg-offset-2">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr style="background: rgba(216, 207, 207, 0.84); ">
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:18%" class="text-center">Subtotal</th>
                    <th style="width:10%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cartList | orderBy  : 'cartId' ">
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-lg-2">
                                <img src="data:image/png;base64,{{item.productImageBaseString}}" height="100" width="75" style="padding-top:2px;" />
                            </div>
                            <div class="col-lg-10">
                                <h4 class="nomargin">{{item.productName}}</h4>
                                <p style="max-height: 3.6em; text-overflow :ellipsis;">{{item.productDescription}}</p>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">Rs.{{item.cost}}</td>
                    <td data-th="Quantity">
                        <input type="number" ng-model="item.quantity" class="form-control text-center" value="1" min="0" style="width:70px;" ng-change="getSubTotal(item)">
                    </td>
                    <td  data-th="Subtotal"class="text-center"> {{item.subTotal}}</td>
                    <td class="actions" data-th="">
                        <button class="btn btn-info btn-sm" ng-click="refresh"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-danger btn-sm" ng-click="removeItem(item)"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="visible-xs">
                </tr>
                <tr>
                    <td><a href="User#/sonyProducts"  class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs  text-warning" style="padding-left:20px;"><strong>Total-Rs. {{total}}</strong></td>
                    <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>